<div class="row">
  <div class="col-md-12">
    <div class="thumbnail">
      <div class="caption">
        <p><%= link_to comment.user.username, writer_path(comment.user) %> - <%= readable_date_time(comment) %><p>
        <p><%= comment.content %></p>
        <% if comment.user == current_user %>
        <div><%= link_to "Edit", edit_comment_path(comment), class: "btn btn-default btn-sm", role: "button" %>
          <%= link_to "Delete", comment, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default btn-sm", role: "button" %></div>
        <% end %>
      </div>
    </div>
  </div>
</div>
