<div class="card card-body">
  <div class="container">
    <div class="row">
      <div class="col-md-auto">
        <%= comment_user_avatar(comment.user) %></p>
      </div>
      <div class="col">
        <p class="card-text"><%= link_to comment.user.username, writer_path(comment.user), class: "card-link" %></p>
        <p class="card-text"><span class="text-muted"><%= readable_date(comment.created_at) %></span></p>
      </div>
    </div>
  </div>

  <p class="card-text"><%= comment.content %></p>
  <% if comment.user == current_user %>
  <div>
    <%= link_to "Edit", edit_comment_path(comment), class: "btn btn-secondary btn-sm", role: "button" %>
    <%= link_to "Delete", comment, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-secondary btn-sm", role: "button" %>
  </div>
  <% end %>
</div>
