<h1><%= @writer.username %></h1>
<p><strong>Email: </strong><%= @writer.email %></p>
<p><strong>Full name: </strong><%= @writer.try(:full_name) %></p>
<p><strong>Bio: </strong><%= @writer.try(:bio) %></p>
<% if !@writer.genres.empty? %>
<p><strong>Genres:</strong>
  <% @writer.genres.each do |genre| %>
    <%= link_to genre.name, genre, class: "label label-primary" %>
  <% end %>
</p>
<% end %>

<% if !@writer.stories.empty? %><h3>Stories:</h3>
<%= render partial: 'stories/stories_grid', locals: { stories: @writer.stories } %><% end %>

<% if !@recent_chapters.empty? %><h3>Recently updated chapters:</h3>
<%= render :partial => "chapters/chapter", :collection => @recent_chapters %><% end %>

<% if !@writer.characters.empty? %><h3>Characters:</h3>
<%= render partial: 'characters/characters_grid', locals: { characters: @writer.characters } %><% end %>