<h1><%= @writer.username %></h1>
<div class="row">
  <div class="col-md-3">
    <%= image_tag @writer.avatar.url(:medium), class: "img-fluid" %>

    <% if @writer == current_user %>
    <div class="edit-buttons">
      <%= link_to "Edit Profile", edit_profile_path, class: "btn btn-secondary btn-sm" %>
      <% if @writer.avatar.exists? %><%= link_to "Delete Image", delete_writer_avatar_path, :method => :patch, data: {confirm: "Are you sure?"}, class: "btn btn-secondary btn-sm" %><% end %>
    </div>
    <% end %>
  </div>
  <div class="col-md-9">
    <p><strong>Email: </strong><%= @writer.email %></p>
    <p><strong>Full name: </strong><%= @writer.try(:full_name) %></p>
    <p><strong>Bio: </strong><%= @writer.try(:bio) %></p>
    <% if !@writer.genres.empty? %>
    <p><strong>Genres:</strong>
      <% @writer.genres.each do |genre| %>
        <%= link_to genre.name, genre, class: "badge badge-genre" %>
      <% end %>
    </p>
    <% end %>
  </div>
</div>

<% if !@recent_stories.empty? %><h3>Recent Stories <%= link_to "(See all)", writer_stories_path(@writer) %></h3>
  <div class="masonry-grid">
    <%= render partial: "stories/story", collection: @recent_stories %>
  </div>
<% end %>

<% if !@recent_chapters.empty? %><h3>Recent Chapters <%= link_to "(See all)", writer_chapters_path(@writer) %></h3>
  <%= render partial: "chapters/chapter", collection: @recent_chapters %>
<% end %>

<% if !@recent_characters.empty? %><h3>Recent Characters <%= link_to "(See all)", writer_characters_path(@writer) %></h3>
  <div class="masonry-grid">
    <%= render partial: "characters/character", collection: @recent_characters %>
  </div>
<% end %>
