<h1><%= @writer.username %></h1>
<p>Email: <%= @writer.email %></p>
<p>Full name: <%= @writer.try(:full_name) %></p>
<p>Bio: <%= @writer.try(:bio) %></p>
<p>Genres:
  <% @writer.genres.each do |genre| %>
    <%= link_to genre.name, genre %>
  <% end %>
</p>

<h3>Stories:</h3>
<%= render partial: 'stories/stories_grid', locals: { stories: @writer.stories } %>

<h3>Recently updated chapters:</h3>
<%= render :partial => "chapters/chapter", :collection => @recent_chapters %>

<h3>Characters:</h3>
<%= render partial: 'characters/characters_grid', locals: { characters: @writer.characters } %>