<h1><%= @writer.username %></h1>
<p><strong>Email: </strong><%= @writer.email %></p>
<p><strong>Full name: </strong><%= @writer.try(:full_name) %></p>
<p><strong>Bio: </strong><%= @writer.try(:bio) %></p>
<% if !@writer.genres.empty? %>
<p><strong>Genres:</strong>
  <% @writer.genres.each do |genre| %>
    <%= link_to genre.name, genre, class: "badge badge-genre" %>
  <% end %>
</p>
<% end %>

<% if !@recent_stories.empty? %><h3>Recent Stories <%= link_to "(See all)", writer_stories_path(@writer) %></h3>
  <%= render partial: "stories/story", collection: @recent_stories %>
<% end %>

<% if !@recent_chapters.empty? %><h3>Recent Chapters <%= link_to "(See all)", writer_chapters_path(@writer) %></h3>
  <%= render partial: "chapters/chapter", collection: @recent_chapters %>
<% end %>

<% if !@recent_characters.empty? %><h3>Recent Characters <%= link_to "(See all)", writer_characters_path(@writer) %></h3>
  <%= render partial: "characters/character", collection: @recent_characters %>
<% end %>
