<h1><%= @writer.username %></h1>
<p>Email: <%= @writer.email %></p>
<p>Full name: <%= @writer.try(:full_name) %></p>
<p>Bio: <%= @writer.try(:bio) %></p>

<p>Genres:
  <% @writer.genres.each do |genre| %>
    <%= link_to genre.name, genre %>
  <% end %>
</p>

<h3>Stories:</h3>
<% counter = 0 %>
<% @writer.stories.each_with_index do |story, index| %>
  <% if counter == 0 %><div class="row"><% end %>
  <%= render partial: 'stories/story', locals: { story: story } %>
  <% counter += 1 %>
  <% if counter == 3 || index == (@writer.stories.count - 1) %></div><!--/.row--><% counter = 0 %><% end %>
<% end %>

<h3>Recently updated chapters:</h3>
<%= render :partial => "chapters/chapter", :collection => @recent_chapters %>

<h3>Characters:</h3>
<% counter = 0 %>
<% @writer.characters.each_with_index do |character, index| %>
  <% if counter == 0 %><div class="row"><% end %>
  <%= render partial: 'characters/character', locals: { character: character } %>
  <% counter += 1 %>
  <% if counter == 3 || index == (@writer.characters.count - 1) %></div><!--/.row--><% counter = 0 %><% end %>
<% end %>