<%= form_for(story) do |f| %>

  <div class="field"><%= f.label :name %><br>
  <%= f.text_field :name %></div>

  <div class="field"><%= f.label :target_word_count %><br>
  <%= f.text_field :target_word_count %></div>

  <div class="field"><%= f.label "Target Audiences" %><br>
  <%= f.collection_select :audience_ids, Audience.all, :id, :name, {include_blank: false, :include_hidden => false}, {:multiple => true} %></div>

  <div class="field"><%= f.label :overview %><br>
  <%= f.text_field :overview %></div>

  <div class="field"><%= f.label "Genre 1" %><br>
  <%= f.collection_select :genre_ids, Genre.all, :id, :name, {include_blank: false, :include_hidden => false}, {:multiple => true} %></div>

  <br>

  <div class="actions"><%= f.submit 'Submit', :class => 'btn btn-primary' %></div>

<% end %>