<h1><%= @story.name %></h1>
<h3>By: <%= link_to @story.user.username, writer_path(@story.user) %></h3>
<p>Target word count: <%= @story.target_word_count %></p>
<p>Target audience:
  <% @story.audiences.each do |audience| %>
    <%= link_to audience.name, audience %>
  <% end %>
</p>
<p>Overview: <%= @story.overview %></p>
<p>Genres:
  <% @story.genres.each do |genre| %>
    <%= link_to genre.name, genre %>
  <% end %>
</p>
<% if @story.user == current_user %>
  <div><%= link_to "Edit", edit_story_path(@story), class: "btn btn-default btn-sm", role: "button" %>
  <%= link_to "Delete", @story, :method => :delete, :data => {:confirm => "You Sure?"}, class: "btn btn-default btn-sm", role: "button" %></div>
<% end %>

<h2>Chapters:</h2>
<%= render :partial => "chapters/chapter", :collection => @story.chapters %>

<h2>Characters:</h2>
<%= render :partial => 'characters/characters_grid', locals: { characters: @story.characters } %>

