<h1><%= @story.name %></h1>
<h3><strong>By: </strong><%= link_to @story.user.username, writer_path(@story.user) %></h3>
<p><strong>Overview: </strong><%= @story.overview %></p>
<p><strong>Target word count: </strong><%= @story.target_word_count %></p>
<% if !@story.audiences.empty? %>
<p><strong>Target audience:</strong>
  <% @story.audiences.each do |audience| %>
    <%= link_to audience.name, audience, class: "badge badge-audience" %>
  <% end %>
</p>
<% end %>
<% if !@story.genres.empty? %>
<p><strong>Genres: </strong>
  <% @story.genres.each do |genre| %>
    <%= link_to genre.name, genre, class: "badge badge-genre" %>
  <% end %>
</p>
<% end %>

<% if @story.user == current_user %>
  <div><%= link_to "Edit", edit_story_path(@story), class: "btn btn-secondary btn-sm" %>
  <%= link_to "Delete", @story, :method => :delete, data: {confirm: "Are you sure? All associated chapters will be deleted as well."}, class: "btn btn-secondary btn-sm" %></div>
<br>
<div><%= link_to "Create new chapter for story", new_story_chapter_path(@story), class: "btn btn-secondary btn-sm" %></div>
<% end %>

<% if !@story.chapters.empty? %><h2>Chapters</h2>
<%= render partial: "chapters/chapter", collection: @story.chapters %><% end %>

<% if !@story.characters.empty? %><h2>Characters</h2>
<%= render partial: "characters/character", collection: @story.characters %><% end %>

<% if !@story.comments.empty? %>
<h3>Recent Comments</h3>
<%= render partial: "comments/comment", collection: @story.recent_comments %>
<% end %>

<% if user_signed_in? %>
<h4>Add Comment</h4>
<%= render partial: "comments/form", locals: { comment: @comment } %>
<% end %>
