<div class="col-sm-12 col-md-4">
  <div class="thumbnail">
    <div class="caption">
      <h3><%= link_to character.name, character %></h3>
      <p>Written by: <% if character.user %><%= link_to character.user.username, writer_path(character.user) %><% end %></p>
      <p>Appears in:
        <% character.stories.each do |story| %>
          <%= link_to story.name, story %>
        <% end %>
      </p>
      <p>Bio: <%= character.bio %></p>
      <p>Traits: <%= character.traits %></p>
    </div>
  </div>
</div>