<div class="card card-block">
  <h4 class="card-title"><%= link_to character.name, character, class: "card-link" %></h4>
  <p class="card-text"><strong>Written by: </strong><%= link_to character.user.username, writer_path(character.user), class: "card-link" %></p>
  <% if !character.stories.empty? %>
  <p class="card-text"><strong>Appears in: </strong>
    <% character.stories.each do |story| %>
      <%= link_to story.name, story, class: "badge badge-story" %>
    <% end %>
  </p>
  <% end %>
  <% if character.bio? %><p class="card-text"><strong>Bio: </strong><%= character_truncated_bio(character) %></p><% end %>
  <% if character.traits? %><p class="card-text"><strong>Traits: </strong><%= character_truncated_traits(character) %></p><% end %>
</div>
