<%= form_for(character) do |f| %>

  <div class="field"><%= f.label :name %><br>
  <%= f.text_field :name %></div>

  <div class="field"><%= f.label :traits %><br>
  <%= f.text_field :traits %></div>

  <div class="field"><%= f.label :bio %><br>
  <%= f.text_area :bio, size: "60x6" %></div>

  <div class="field"><%= f.label "Chapters" %><br>
  <%= f.collection_check_boxes :chapter_ids, current_user.chapters.order("name ASC"), :id, :name %></div>

  <br>

  <div class="actions"><%= f.submit 'Submit', :class => 'btn btn-primary' %></div>

<% end %>