<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= chapter.name %> - <%= link_to chapter.story.name, chapter.story %></h3>
  </div>
  <div class="panel-body">
    <p>Objective: <%= chapter.objective %></p>
    <p>Target word count: <%= chapter.objective %></p>
    <p>Overview: <%= chapter.overview %></p>
  </div>
</div>
