<%= form_for(chapter) do |f| %>

  <% if try(:story) %>
    <div class="field">
      <%= f.hidden_field :story_id, :value => story.id %>
    </div>
  <% else %>
    <div class="field"><%= f.label "Story" %><br>
    <%= f.collection_select :story_id, current_user.stories, :id, :name %></div>
  <% end %>

  <div class="field"><%= f.label :name %><br>
  <%= f.text_field :name %></div>

  <div class="field"><%= f.label :objective %><br>
  <%= f.text_field :objective %></div>

  <div class="field"><%= f.label :target_word_count %><br>
  <%= f.text_field :target_word_count %></div>

  <div class="field"><%= f.label :overview %><br>
  <%= f.text_field :overview %></div>

  <br>

  <div class="actions"><%= f.submit 'Submit', :class => 'btn btn-primary' %></div>

<% end %>