<h1>Chapter: <%= @chapter.name %></h1>
<h3><strong>From: </strong><%= link_to @chapter.story.name, @chapter.story %> by <%= link_to @chapter.user.username, writer_path(@chapter.user) %></h3>
<% if @chapter.currently_writing %>
  <h4><%= content_tag :span, "Currently Writing", class: ["badge", "badge-currently-writing"] %></h4>
<% end %>
<p><strong>Objective: </strong><%= @chapter.objective %></p>
<p><strong>Target word count: </strong><%= @chapter.objective %></p>
<p><strong>Overview: </strong><%= @chapter.overview %></p>

<% if @chapter.user == current_user %>
  <div>
    <%= link_to "Edit", edit_chapter_path(@chapter), class: "btn btn-secondary btn-sm" %>
    <%= link_to "Delete", @chapter, :method => :delete, data: {confirm: "Are you sure?"}, class: "btn btn-secondary btn-sm" %>
  </div>
<% end %>

<% if !@chapter.characters.empty? %>
  <h3>Characters:</h3>
  <%= render partial: "characters/character", collection: @chapter.characters %>
<% end %>
